version: "3.9"

services:
    postgres:
        container_name: postgres_nest
        image: postgres:latest
        restart: always
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        ports:
            - 5432:5432
        volumes:
            - postgres_data:/var/lib/postgresql
        networks:
            - nestjs-first

volumes:
    postgres_data:

networks:
    nestjs-first:
